

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /**
    * Grid container
    */
   #main {
   	margin-top: 9em;
   }
   #tiles {
     list-style-type: none;
     position: relative; /** Needed to ensure items are laid out relative to this container **/
     margin: 0;
     padding: 0;
   }
   #tiles li:hover img{
   	opacity:0.8;
   }
   /**
    * Grid items
    */
   #tiles li {
    	width: 280px;
   	background-color: #ffffff;
   	border: 1px solid #dedede;
   	border-radius: 2px;
   	-moz-border-radius: 2px;
   	-webkit-border-radius: 2px;
   	display: none;
   	cursor: pointer;
   	border-radius: 0.2em;
   }
   #tiles li img{
   	border-top-left-radius:0.2em;
   	border-top-right-radius:0.2em;
   }
   #tiles li.inactive {
     visibility: hidden;
     opacity: 0;
   }

   #tiles li img {
    	display: block;
   }

   /**
    * Grid item text
    */
    footer {
      text-align: center;

    }

    footer a {
      color: #435DC5;
      text-decoration: none;
    }

    /**
     * Progress bar for imagesLoaded
     */
    .progress-bar {
      background-color: #0BC20B;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 0;
      box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
      -webkit-transition: width 0.3s ease-out;
         -moz-transition: width 0.3s ease-out;
           -o-transition: width 0.3s ease-out;
              transition: width 0.3s ease-out;
    }

    /**
     * Placerholder css
     */
    .wookmark-placeholder {
              border-radius: 2px;
         -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      background-color: #eee;
      border: 1px solid #dedede;
      z-index: -1;
    }

    .example-tiles {
      position: relative; /** Needed to ensure items are laid out relative to this container **/
      margin: 0;
      padding: 0;
    }

    .example-tiles li {
      display: block;
      list-style-type: none;
      float: left;
      margin: 5px;
      -webkit-transition: all 0.3s ease-out;
         -moz-transition: all 0.3s ease-out;
           -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
    }

    .example-tiles a,
    .example-tiles a:hover {
      color: #555;
      background-color: #eee;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      width: 200px;
      height: 200px;
      font-size: 2em;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #ddd;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      padding: 5px 8px;
      border-radius: 3px;
    }

    .example-tiles a:hover {
      background-color: #ddd;
    }
    /*--media Quries for 640px-monitors-*/
    @media only screen and (max-width:640px) and (min-width:480px) {
    	#main {
    		margin-top: 7em;
    	}
    }
    /*--media Quries for 480px-monitors-*/
    @media only screen and (max-width:480px) and (min-width:320px) {
    	#main {
    		margin-top: 9.5em;
    	}
    }
    /*--media Quries for 320px-monitors-*/
    @media only screen and (max-width:320px) and (min-width:240px) {
    	#main {
    		margin-top: 9em;
    	}
    	#tiles li {
    		width: 266px;
    	}
    }

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
